<div class="header">
  <div class="header-content">
    <div class="header-content__right">
      <div class="header-content__right__logo">
        ロゴ
      </div>
      <div class="header-content__right__lunch">
        ランチ募集をみる
      </div>
    </div>
    <ul class="header-content__left">
      <li class="header-content__left__signin"><%= link_to "新規登録", "/workers/sign_up" %></li>
      <li class="header-content__left__login"><%= link_to "ログイン", "/workers/sign_in" %></li>
    </ul>
  </div>
</div>
