<div class="header">
  <div class="header-content">
    <div class="header-content__right">
      <div class="header-content__right__logo">
        ロゴ
      </div>
      <div class="header-content__right__lunch">
        ランチ募集をみる
      </div>
      <%= link_to "ログアウト", destroy_worker_session_path, method: "delete" %>
    </div>
    <ul class="header-content__left">
      <% if worker_signed_in? %>
      <div class="header-content__left__contents">
        <div class="header-content__left__contents__notification">
          <i class="large comment alternate outline icon"></i>
        </div>
        <div class="ui icon top left pointing dropdown button">
          <i class="wrench icon"></i>
          <div class="menu">
            <div class="header">Display Density</div>
            <div class="item">Comfortable</div>
            <div class="item">Cozy</div>
            <div class="item">Compact</div>
            <div class="ui divider"></div>
            <div class="item">Settings</div>
            <div class="item">
              <i class="dropdown icon"></i>
              <span class="text">Upload Settings</span>
              <div class="menu">
                <div class="item">
                  <i class="check icon"></i>
                  Convert Uploaded Files to PDF
                </div>
                <div class="item">
                  <i class="check icon"></i>
                  Digitize Text from Uploaded Files
                </div>
              </div>
            </div>
            <div class="item">Manage Apps</div>
            <div class="item">Keyboard Shortcuts</div>
            <div class="item">Help</div>
          </div>
        </div>
      </div>
      <% else %>
        <li class="header-content__left__signin"><%= link_to "新規登録", "/workers/sign_up" %></li>
        <li class="header-content__left__login"><%= link_to "ログイン", "/workers/sign_in" %></li>
      <% end %>
    </ul>
  </div>
</div>

<script>
    $('.ui.dropdown')
            .dropdown();
</script>
