.header {
  border-bottom: solid 1px #C0C0C0;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  padding: 0 50px;
  &__right {
    display: flex;
    &__logo {
      padding: 0 10px;
    }
    &__lunch {
      padding: 0 10px;
    }
  }

  &__left {
    display: flex;
    list-style: none;
    &__contents {
      display: flex;
      justify-content: center;
      align-items: center;
      &__notification {
        margin-right: 30px;
      }
    }
    &__signin{
      padding: 0 10px;
      //取りあいず＿を消すようにしている
      a { text-decoration: none;}
    }
    &__login{
      padding: 0 10px;
      //取りあいず＿を消すようにしている
      a { text-decoration: none;}
    }
  }
}
