<div class="edit-image-word">
  <h2 class="ui header">
    <img src="/images/icons/plugin.png">
    <div class="content">
      <%= @worker.worker_name %>
      <div class="sub header"><%= @worker.one_word %></div>
    </div>
  </h2>
  <div>
    <button id="edit-image-word" class="ui button">
      編集する
    </button>
  </div>
</div>

<script>
  
</script>
