<div class="introduction">
  <div class="introduction-upper">
    <div class="introduction-upper__title">
      <h3>自己紹介文</h3>
    </div>
    <button id="edit-botton" class="introduction-upper__edit ui button" onclick="editIntroduction()">
      編集する
    </button>
  </div>

  <div id="introduction-content" class="introduction-content">
    <%= simple_format(worker.self_introduction) %>
  </div>

  <div id="introduction-form" class="introduction-content ui form">
    <%= form_with(model: worker, url: worker_mypage_path(id: worker.id), id: "edit-introduction") do |f| %>
      <div class="field">
        <%= f.text_area :self_introduction%>
      </div>
      <div class="introduction-content__btn">
        <button class="introduction-content__btn__cancel ui button" onclick="cancelEdit()">
          キャンセル
        </button>
        <%= f.submit "更新", class: "introduction-content__btn__update ui secondary button"%>
      </div>
    <% end %>
  </div>
</div>
