<div class="introduction">
  <div class="introduction-upper">
    <div class="introduction-upper__title">
      <h3>自己紹介文</h3>
    </div>
    <button class="introduction-upper__edit">
      編集する
    </button>
  </div>

  <div class="introduction-content no-edit">
    私は貝になりたい
    a
  </div>

  <form class="introduction-content edit" >
    <div>
      <textarea name="comment" rows="3" cols="30" placeholder="コメント"></textarea>
    </div>
    <p><span id="count"></span>/200</p>
  </form>

  <div class="introduction-content edit">
    <div class="introduction-content__text">
      私は貝になりたい
    </div>
    <div class="introduction-content__btn">
      <button class="introduction-content__btn__cancel">
        キャンセル
      </button>
      <button class="introduction-content__btn__update">
        更新
      </button>
    </div>
  </div>

</div>

<script>
  // フォームを表示非表示

  // 文字数を表示させる
  $("textarea").on('keydown keyup change', function() {
    var count = $(this).val().length;
    $("#count").text(count);
    if(count > 200) {
      $("#count").css({color: 'red', fontWeight: 'bold'});
    }else{
      $("#count").css({color: '#333', fontWeight: 'normal'});
    }
  });
</script>
