<div class="introduction">
  <div class="introduction-upper">
    <div class="introduction-upper__title">
      <h3>自己紹介文</h3>
    </div>
    <button id="edit-botton" class="introduction-upper__edit ui button" onclick="editIntroduction()">
      編集する
    </button>
  </div>

  <div id="introduction-content" class="introduction-content">
    <p>
      <%= @worker.self_introduction %>
    </p>
  </div>
  <%= form_with(model: @worker, url: worker_mypage_path(id: @worker.id)) do |f| %>
    <%= f.text_field :self_introduction %>
  <% end %>
 <div id="introduction-form" class="introduction-content ui form">
    <div class="field">
      <textarea id="introduction-textarea" placeholder="自己紹介文を入力してください">
        <%= @worker.self_introduction %>
      </textarea>
    </div>
    <div class="introduction-content__btn">
      <button class="introduction-content__btn__cancel ui button" onclick="cancelEdit()">
        キャンセル
      </button>
      <button class="introduction-content__btn__update ui secondary button" onclick="pushEditedContent()">
        更新
      </button>
    </div>
  </div>
</div>

<script>
  //これが表示される前に関数を呼びたいがわからないため直接書いている
  introduction_mount()
</script>
