<div class="wanttodo">
  <div class="wanttodo-upper">
    <div class="wanttodo-upper__title">
      <h3>これからやりたいこと</h3>
    </div>
    <button id="wanttodo-edit-botton" class="wanttodo-upper__edit ui button" onclick="editWantTodo()">
      編集する
    </button>
  </div>

  <div id="wanttodo-content">
    <%= simple_format(worker.want_to_do_thing) %>
  </div>

  <div id="wanttodo-form" class="wanttodo-content ui form">
    <%= form_with(model: worker, url: worker_mypage_path(id: worker.id), id: "edit-want-todo") do |f| %>
      <div class="field">
        <%= f.text_area :want_to_do_thing%>
      </div>
      <div class="wanttodo-content__btn">
        <button class="wanttodo-content__btn__cancel ui button" onclick="cancelEditWantTodo()">
          キャンセル
        </button>
        <%= f.submit "更新", class: "wanttodo-content__btn__update ui secondary button"%>
      </div>
    <% end %>
  </div>
</div>
