.worker-login-form {
  display: flex;
  justify-content: center;
}

.worker-login-form_container {
  width: 600px;
}

.worker-login__contents {
  padding: 50px;
}

.worker-login__contents__title {
  text-align: center;
}

.worker-login__contents__form {
}

.worker-login__contents__form__btn {
  text-align: center;
}

.worker-login__contents__guide {
  margin-top: 30px;
  text-align: center;
}
