<div class="worker-introduction">
  <div class="worker-introduction__container">
    <div class="worker-introduction__contents">
      <%= render 'worker_mypages/components/introduction'%>
      <%= render 'worker_mypages/components/want_todo'%>
    </div>
  </div>
</div>
